.apartment-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
}

.column {
    flex: 1;
    padding: 0 5px;
}

.apartment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    flex: 1;
    padding: 0 20px;

    background-color: #ADD8E6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apartment-details {
    margin-bottom: 20px;
}

.image-gallery {
    background-color: #ADD8E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.reviews-section {
    background-color: #ADD8E6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews-section h1 {
    margin-bottom: 10px;
}

.review-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.review-card {
    background-color: #5da6eb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);

}

.review-card p {
    margin: 0;
    margin-bottom: 10px;

}

.apartment-details input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

@media only screen and (max-width: 768px) {
    .review-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .review-card {
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 576px) {
    .review-card {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .apartment-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
}

@media only screen and (max-width: 576px) {
    .apartment-container {
        grid-template-columns: 1fr;
    }
}